.components {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 15px;
  margin-top: 110px;
  margin-left: 13.5px;
  max-width: 580px;
}

.componentlist {
  display: grid;
  grid-gap: 15px;
  list-style-type: none;
  margin: 4px 0 0 0;
  padding: 0;
  height: fit-content;
  max-height: 464px;
  overflow-y: scroll;
  transform: translateX(-30px);
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 568px;
  cursor: grab;
  opacity: 1;
}

.component:active{
  cursor: grabbing;
}

.total {
  display: flex;
  flex-direction: row;
  width: 536px;
  margin: 0 16px 0 0;
  padding: 0;
  margin-top: 40px;
  align-items: center;
  justify-content: flex-end;
}

.button {
  margin-left: 40px;
}

.text {
  margin-right: 9.5px;
}

.subtitle{
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: -55px;
}

.subtitlebun{
  margin-left: 90px;
  position: absolute;
  top: -40px;
}

.subtitlemain{
  margin-left: 72px;
  position: absolute;
  top: -43px;
}

.modal {
  width: 720px;
}

.visible{
  display: block;
}

.hidden{
  display: none
}
