.title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    margin-bottom: 20px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orders{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 16px;
    max-height: 768px;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
}

.order{
    display: flex;
    flex-direction: column;
    width: 584px;
    margin: 0 8px 0 0;
    padding: 24px 24px;
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    box-sizing: border-box;
}

.orderid{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0 0 24px 0;
    height: 24px;
    justify-content: space-between;
}

.id{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    color: #F2F2F3;
}

.timestamp{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    text-align: right;
    color: #8585AD;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    position: relative;
    background: linear-gradient(45deg, rgba(128, 26, 178, 1), rgba(74, 76, 255, 1));
    border-radius: 100px;
    z-index: 1;
    overflow: hidden;
  }
  
  .container::after {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    bottom: 2px;
    border-radius: 100px;
    background: var(--background);
    content: '';
  }

  /* .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    bottom: 2px;
    border-radius: 100px;
    background: rgba(28, 28, 33, .6);
    z-index: 2;
  } */
  
  .image {
    height: 56px;
    z-index: 2;
  }

/* .img{
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    border: 1px solid linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-style: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
} */

.burgername{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 24px;
}

.componentandprice{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    height: 64px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.ingredients{
    display: flex;
    flex-direction: row;
    width: 304px;
    height: 64px;
    position: relative;
}

/* .preview{
    box-sizing: border-box;
    position: relative;
    width: 64px;
    height: 64px;
    background: #131316;
    border-radius: 100px;
    /* border: 2px solid; */
    /* border-image-source: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
} */

/* .illustration{
    width: 112px;
    height: 56px;
} */ 

.price{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 208px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.ready{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
}

.link{
    text-decoration: none;
    color: #F2F2F3;
}

.completed{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.types{
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin: 0;
    padding: 0;
}

.type{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 280px;
}

.subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #F2F2F3;
    margin: 0 0 24px 0;
}

.digits{
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #00CCCC;
}

.digitsinactive{
    color: #F2F2F3;
}

.digitslarge{
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}