.container{
    display: flex;
    max-width: 1280px;
    margin: 80px auto 0 auto;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.navblock{
    height: 320px;
    align-content: space-between;
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.text{
    line-height: 64px;
    color: #8585AD;
    text-decoration: none;
}

.textactive{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
    margin-left: 26%;
}

.footer{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: space-between;
}

.subtext{
    width: 320px;
}

.hidden{
    display: none;
}

.visible{
    display: flex;
}