.container{
    display: flex;
    max-width: 1280px;
    margin: 80px auto 0 auto;
}

.content{
    display: flex;
    flex-direction: row;
    width: 860px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.text{
    line-height: 64px;
    color: #8585AD;
    text-decoration: none;
}

.textactive{
    color: white;
}

.inputs{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin-left: 60px;
}

.footer{
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    margin-top: 32px;
    width: 860px;
    justify-content: space-between;
}

.subtext{
    max-width: 320px;
}